html {
  overflow: hidden;
}

#external-article object {
  width: 100%;
  height: 100%;
}

#left-column {
  overflow: auto
}

.divTable {
  display: table;
}

.divRow {
  display: table-row;
}

.divCell {
  display: table-cell;
}

.time {
  font-size: 10px;
}

.favi {
  margin: 5px 0 0 3px;
}

.item-short-info {
  width: 40px
}